<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event.name %>
</p>

<p>
  <strong>Month:</strong>
  <%= @event.month %>
</p>

<%= render 'table',
    event: @event,
    editing: false,
    ref_name: 'bookTable',
    form_name: 'event' %>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
