<p id="notice"><%= notice %></p>

<h1>Assignment Sets</h1>

<table>
  <thead>
    <tr>
      <th>Arriving</th>
      <th>Leaving</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @assignment_sets.each do |assignment_set| %>
      <tr>
        <td><%= assignment_set.arriving %></td>
        <td><%= assignment_set.leaving %></td>
        <td><%= link_to 'Show', assignment_set %></td>
        <td><%= link_to 'Edit', edit_assignment_set_path(assignment_set) %></td>
        <td><%= link_to 'Destroy', assignment_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment Set', new_assignment_set_path %>
