<%= form_with(model: event_assignment_set, url: event_path(id: @event.id), local: true) do |form| %>
  <% if event_assignment_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_assignment_set.errors.count, "error") %> prohibited this event_assignment_set from being saved:</h2>

      <ul>
      <% event_assignment_set.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= render 'table', event: @event %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
