<!DOCTYPE html>
<html>
  <head>
    <title>Book Share</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <section id="banner">
      <div id="user">
        <p><%= link_to "Log In", login_path %></p>
      </div> 
      <h1>Pennsic Book Share</h1>
    </section>
    <section id="main">
      <%= yield %>
    </section>
  </body>
</html>
